body{
    margin: 0;
    background-color: black;
    color:white;
    text-align: center;

    border-style: double;
    border-color: goldenrod;
    border-width: 2px;
}

:link{
    color: red;
    background-color: transparent;
    text-decoration: none;
}

:visited{
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

h1{
    margin: 0;
    color:goldenrod;
    text-align: center;
    background-color: black;
}